<hr>

<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->

{% if site.data.comments[page.slug] %}

  <p>
    <h3>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    Comments:
    </h3>
  </p>

  <hr>

  {% assign comments = site.data.comments[page.slug] | sort %}

  <p>
    {% for comment in comments %}
      <br>
      <legend>
        {% if comment[1].url %}
          <a href="{{ comment[1].url }}">
        {% endif %}
        <strong>{{ comment[1].name }}</strong>
        {% if comment[1].url %}
          </a>
        {% endif %}
      </legend>
      <em>{{ comment[1].date | date: "%B %d, %Y" }}</em>
      <p>{{ comment[1].message | markdownify }}</p>
      <hr>
    {% endfor %}
  </p>
{% endif %}

<!-- Comment form -->
<p>
  <h3>Post a comment:</h3>
  <form method="POST" action="https://api.staticman.net/v2/entry/sleep-404/idiologos/gh-pages/comments">
    <input name="options[redirect]" type="hidden" value="https://sleep-404.github.io">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <label><input name="fields[name]" type="text">Name</label>
    <label><input name="fields[email]" type="email">E-mail</label>
    <label><textarea name="fields[message]"></textarea>Message</label>
    <button type="submit">Go!</button>
  </form>
</p>
